# Env
.env
.env.local

# Node
node_modules/
.npm

# Strapi
strapi/.tmp/
strapi/.cache/
strapi/build/
strapi/dist/
strapi/.strapi-updater.json
strapi/public/uploads/*
!strapi/public/uploads/.gitkeep

# Database
*.db
*.sqlite

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
logs/
